[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/vundlevim/vundle.vim
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = git://github.com/powerline/powerline
[submodule "vim/bundle/csapprox"]
	path = vim/bundle/csapprox
	url = git://github.com/godlygeek/csapprox
[submodule "vim/bundle/vim-go"]
	path = vim/bundle/vim-go
	url = git://github.com/fatih/vim-go
